
    <h2>My Customers</h2>
    <ul class="customers">
      <li *ngFor="let customer of customers"
        [class.selected]="customers === selectedCustomer"
        (click)="onSelect(customer)">
        <span class="badge">{{customer.id}}</span> {{customer.name}}
      </li>
    </ul>
    <div *ngIf="selectedCustomer">
      <h2>{{selectedCustomer.name}} details!</h2>
      <div><label>id: </label>{{selectedCustomer.id}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="selectedCustomer.name" placeholder="name"/>
      </div>
    </div>
<customer-detail [customer]="selectedCustomer"></customer-detail>
